@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --bg: #051424;
    --surface: #122131;
    --border: #1e3248;
    --on-surface: #d4e4fa;
    --primary: #38bdf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.login_page {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.login_form {
    background-color: var(--surface);
    padding: 32px;
    border: 1px solid var(--border);
    border-radius: 8px;
}
